@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("/light.png");
    background-color: cover;
    background-repeat: no-repeat;
}