@import "tailwindcss";

@layer base {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  

    :root{
      --dark: url("/dark.webp");
      --light: url("/light.webp"); 
    }


    @media (prefers-color-scheme: dark) {
      body {
          height: 100vh;
          background-image: var(--dark);
          background-size: cover; /* Corrigido: era background-color: cover */
          background-repeat: no-repeat;
          /* Evita colocar padding fixo aqui se quiseres usar Tailwind no HTML */
          padding: 10% 1rem; 
          --bg-color: rgb(28, 28, 28,0.9);
          --text-color:white;
          --bt-color:rgb(17, 73, 141);
      }
    }

    @media (prefers-color-scheme: light) {
      body {
          height: 100vh;
          background-image: var(--light);
          background-size: cover; /* Corrigido: era background-color: cover */
          background-repeat: no-repeat;
          /* Evita colocar padding fixo aqui se quiseres usar Tailwind no HTML */
          padding: 10% 1rem; 
          --bg-color: rgba(244, 242, 242, 0.6);
          --text-color: black;
          --bt-color:rgba(96, 165, 250, 0.9);
          ;
      }
    }
  }